.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-info {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.div-img {
  padding: 20px;
}

.text {
  color: black;
  min-width: 300px;
}
